body {
    background: linear-gradient(45deg ,cyan, lightblue);
}

.container {
    background-color: grey;
    width: 33%;
    height: 66vh;
    margin: auto;
    margin-top: 10%;
    margin-bottom:15%;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.answer-box {
    background: white;
    width: 100px;
    height: 100px;
}