body {
    background: linear-gradient(45deg ,cyan, lightblue);
}

.calc-background {
    background-color: grey;
    width: 33%;
    height: 66vh;
    margin: auto;
    margin-top: 10%;
    margin-bottom:15%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.answer-box {
    background: white;
    width: 200px;
    height: 200px;
}


.container {
    position: relative;
    top: 6vh;
    display: grid;
    grid-template-rows: 18vh 10vh 10vh 10vh 10vh;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.answer-box {
    background: white;
    width: 100px;
    height: 100px;
}

.item1 {
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    background: lightgrey;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.answer {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    margin-bottom: 40px;
    background: lightgrey;
    border-radius: 20px;
    grid-column: 1/5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}